<!DOCTYPE html>
<link rel="stylesheet" href="../../stylesheets/dynamic_graph.css">
<link rel="stylesheet" type="text/css" href="../../javascripts/calendar/css/jscal2.css">
<link rel="stylesheet" type="text/css" href="../../javascripts/calendar/css/border-radius.css">
<link rel="stylesheet" type="text/css" href="../../javascripts/calendar/css/gold/gold.css">
	
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->

<div class="container">
	<div class="tagsWrapper">
		<button type="submit" id="updateData">Update graph data</button>
		<div class="filterDiv">
			<label for="filter">Write comma-seperated tags for filter</label>
			<input id="tagSelected-box" name="filter" type="text"  class="filterInputField" size="15px"></input>
		</div>
	<div id="placeholder" style="width:800px;height:400px;"></div>
	<br>
	<div id="cal">
	  <div id="start-cal">
    	<div id="start-calendar-container"></div>
    	<input size="16px" id="start-calendar-input"></input>
    </div>
  	<button id="time-apply">Time Apply</button>
  	<div id="end-cal">
    	<div id="end-calendar-container"></div>
    	<input size="16px" id="end-calendar-input"></input>
    	</div>
  </div>
  </div>
</div>

<script type="text/javascript" src="../../javascripts/calendar/js/jscal2.js"></script>
<script type="text/javascript" src="../../javascripts/calendar/js/lang/en.js"></script>

<script language="javascript" type="text/javascript" src="../../javascripts/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="../../javascripts/flot/jquery.flot.selection.js"></script>
<script language="javascript" type="text/javascript" src="../../javascripts/dynamic_graph.js"></script>

