<!DOCTYPE html>
<link rel="stylesheet" href="../../stylesheets/edit_algorithms.css">
<div class="container">
	<form method="post" action="../../evaluate/modify">
		<ledgend>Algorithm parameters</ledgend>
		<p><label>Param 1 <input name="parameter1" type="text"></label></p>
		<p><label>Param 2 <input name="parameter2" type="text"></label></p>
		<p><label>Param 3 <input name="parameter3" type="text"></label></p>
		<p><label>Param 4 <input name="parameter4" type="text"></label></p>
		<p><label>Param 5 <input name="parameter5" type="text"></label></p>
		<p><label>Param 6 <input name="parameter6" type="text"></label></p>
		<button type="submit" id="modifyButton">
		Modify Algorithms
		</button>
	</form>
</div>
