<!DOCTYPE html>
<link rel="stylesheet" href="../../stylesheets/evaluate.css">
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>		
<script src="../../javascripts/evaluate.js"></script>
<div class="container">
		<div class="topEvaluateWrapper">
		<form method="post" action="../evaluate/limit">
		<button type="submit" id="getNewMsg">Get New Messages</button>
			<div class = "limitWrapper">		
			<label for="limitSelector">Amount of Tweets</label>
  			<select name="limit" class="customLimitSelector">
				{{#limit}}
				<option value="{{n}}">{{n}}</option>
				{{/limit}}
  			</select>
			</div>
			<div class="filterDiv" >
				<br><br><br>
				<label for="filter">Write comma-seperated tags for filter</label>
				<input name="filter" type="text"  class="filterInputField" value="{{keywords}}">
			</div>
		</form>
		<a href="../../evaluate/edit" class="button">Edit Algorithms</a>
		<p id="start-button" class="button">Start Stream</p>
		</div>
        	<table id="stream" class="five columns alpha evaluateMsg">
			<tr class="partialContainer top">
				<td class="message">Messages</td>
			</tr>
			{{#messages}}
				<tr id="partial{{_id}}" onClick="showFullMessage('{{_id}}');" class="partailMessageContainer">
				<td class="partialText">{{text}}</td>
				<td class="partialDate">{{created_at}}</td>
				<tr>
			{{/messages}}

		</table>
		{{#messages}}
			<div class="hidden ten columns omega fixedPosition" id="full{{_id}}">
			<div class="fullMessageContainer">	
				<h4> Message: </h4>
				<p class="messageText">{{text}}</p>
				<br><br><br><br><br>
				<h4> Date: </h4>
				<p class="messageDate">{{date_created}}</p>
				<h4> Author: </h4>
				<p class="messageAuthor">{{author}}</p>
				<h4> Coordinates: </h4>
				<p class="messageCoordinates">{{coords}}</p>
				<h4> Tags: </h4>
				<p class="messageTags">{{tags}}</p>
				<br><br>
				
			</div>
			</div>
		{{/messages}}
</div>
<br><br><br><br><br><br><br><br>
