<!DOCTYPE html>
<link rel="stylesheet" href="../../stylesheets/login.css">
<script src="../../javascripts/login.js"></script>
<div class="container">
		<div class="FloatLeft">
		<form method="post" action="../../login" >

			<div class = "loginWrapper">
				<label for="filter">Username</label>
				<input placeholder="Username" name="user" type="text" class="">
				<label for="filter">Password</label>
				<input placeholder="Password" name="password" type="password" class="">

				<button  type="submit" id="SignIn">Sign in</button>
			</div>
		</form>
		</div>
	<h3 class="FloatLeft six columns alpha nosyLable">Are you Nosy?</h3>
	{{#failed_login}}
	<p class="FloatLeft">You failed to login!</p>
	{{/failed_login}}

</div>
