<!DOCTYPE html>
<link rel="stylesheet" href="../../stylesheets/logout.css">
<script src="../../javascripts/logout.js"></script>
<div class="container">
		<div class="FloatLeft">
		<form method="post" action="../../login" >

			<div class = "loginWrapper">
				<p>You have been logged out.</p>
				<p>Redirecting you to the login screen.</p>
			</div>
		</form>
		</div>
	<h3 class="FloatLeft six columns alpha nosyLable">Are you Nosy?</h3>

</div>
