<!DOCTYPE html>
<link rel="stylesheet" href="../../stylesheets/tagging.css">
<div class="container">
		<div class="topTaggerWrapper">
		<a href="#" id="getNewMsg" class="button">Get New Messages</a>

			<div class = "limitWrapper">		
			<label for="limitSelector">Select List</label>
  			<select id="limitSelector">
				<option value="10">10</option>
    				<option value="20">20</option>
    				<option value="30">30</option>
   				<option value="40">40</option>
				<option value="50">50</option>
    				<option value="60">60</option>
    				<option value="70">70</option>
   				<option value="80">80</option>
				<option value="90">90</option>
   				<option value="100">100</option>
  			</select>
			</div>
		</div>
        	<div class="five columns alpha taggingMsg">
			<div class="messageContainer top">
				<p class="message">Messages</p>
			</div>


			<div class="messageContainer odd">
				<p class="messageText">Messages</p>
			</div>
			<div class="messageContainer even">
				<p class="messageText">Messages</p>
			</div>


		</div>
		<div class="ten columns omega">Put detailed info about the messeges here.</div>
</div>

