<!DOCTYPE html>
<link rel="stylesheet" href="../../stylesheets/tagging.css">
<script src="../../javascripts/tagging.js"></script>
<div class="container">
		<div class="topTaggerWrapper">
		<form method="post" action="../tagging/limit">
		<button  type="submit" id="getNewMsg">Get fresh list</button>
			<div class = "limitWrapper">		
			<label for="limitSelector">Select how many messeges to show</label>
  			<select name="limit" class="customTaggingSelector">
				{{#limit}}
				<option value="{{n}}">{{n}}</option>
				{{/limit}}
  			</select>
			</div>
		</form>
		</div>
        	<div class="six columns alpha taggingMsg">
			<div class="messageContainer top">
				<p class="messageText">Text</p><p class ="date">Date</p>
			</div>

			{{#messages}}
				<div id="shortInfo{{_id}}" onCLick="showInfo('{{_id}}');"class="messageContainer {{pos}}">
        			<p class="messageText">{{text}}</p><p class="date">{{created_at}}</p>
				</div>
			{{/messages}}

		</div>
		{{#messages}}
		<div class="hidden ten columns omega fixedPosition" id = "details{{_id}}">

		<h3>Source: {{source}}</h3>
		<h4 class="textLable">Text: </h4>
		<h4 class="text gray">{{text}}</h4>
		{{#author}}
		<h4 class="postedLable">Posted by: </h4>
		<h4 class="text gray">{{author}}</h4>
		{{/author}}

		{{#location}}
		<h4 class="locationLable">Location: </h4>
		<h4 class="text gray">{{location}}</h4>
		{{/location}}
		<div class="six columns alpha tags">Six

		</div>

		<div class="four columns omega">
		<div>
			<input type="text" id="regularInput" class="tagInputField">
			<button type="submit" id="addTagg" class="tagInputButton">Add Tag</button>
		</div>
		<div>
			
		</div>

		</div>

		</div>
		{{/messages}}
</div>

