<div class="container">
        	<div class="five columns alpha">Five</div>
		<div class="ten columns omega">Ten</div>
	</div>
<blockquote>
  <p>This is a blockquote style example. It stands out, but is awesome</p>
  <cite>Dave Gamache, Skeleton Creator</cite>
</blockquote>
