.topEvaluateWrapper{
	float:left;
	width:100%;
}
.limitWrapper{
	float:left;
	margin-left:20px;
}
#getNewMsg{
	float:left;
	margin-top:10px;
}
.customLimitSelector{
	width:80px;
}
.evaluateMsg{
	border-style:solid;
	border-width:1px;
	border-color:#999999;
}
.resultsMsg{
	border-style:solid;
	border-width:1px;
	border-color:#999999;
}
.top{
	background-color:#777777;
}
.partialContainer{
	border-style:solid;
	border-width:0px 0px 1px 0px;
	float:left;
	width:100%;
}
p.partialText{
	margin:0;
	text-align: center;
	color:#000000;
}
p.partialDate{
	margin:0;
	text-align: center;
	color:#000000;
}
div.hidden{
	display:none!important;
}
.messageContainer{
	border-style:solid;
	border-width:0px 0px 1px 0px;
	float:left;
	width:100%;
}
p.messageText{
	margin:0;
	padding-left:5px;
	color:#000000;
	float:left;
	width:250px;
}
p.messageDate p.messageAuthor p.Coordinates p.messageTags{
	margin:0;
	color:#000000;
	width:90px;
	float:left;
}
.fixedPosition{
	position:fixed;
	left:520px;
	top:150px;
	border-style:solid;
	border-width:2px;
	padding:10px; 
}
.padder{
	padding-bottom:150px;
	padding-right:20px; 
}
.filterDiv{
	float: left;
}
.filterPadding{
	padding-left:50px;

}
.proseven{
	width:70%;
	word-wrap:break-word;
}
tr:nth-child(even) {background: #F0F0F0;}
tr:nth-child(odd) {background: #FFFFFF;}
tr.messageItem:hover{background:#BBCCFF;}
tr.selected{background:#99CC99!important;}
tr.messageItem{overflow:hidden;}
