.topTaggerWrapper{
	float:left;
	width:100%;
}
.limitWrapper{
	float:left;
	margin-left:20px;
}
#getNewMsg{
	float:left;
	margin-top:9px;
	margin-bottom:0px;
}
.customTaggingSelector{
	width:80px;
	margin-bottom:0px;
}
.taggingMsg{
	border-style:solid;
	border-width:1px;
	border-color:#999999;
}
.top{
	background-color:#777777;
}
input.filterInputField{
margin-bottom:15px;
}
.filterDiv{
	float: left;
	margin-left: 40px;
}
p.message{
	margin:0;
	text-align: center;
	color:#000000;
}
p.messageText{
	margin:0;
	padding-left:5px;
	color:#000000;
	float:left;
	width:225px;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
	word-wrap:break-word;
}
p.date{
	margin:0;
	color:#000000;
	width:105px;
	float:left;
	padding-bottom:2px;
	padding-top:2px;
}
.messageContainer{
	border-style:solid;
	border-width:0px 0px 1px 0px;
	float:left;
	width:100%;
}
.even{
	background-color:#CCCCCC;
}
.fixedPosition{
	position:fixed;
	left:575px;
	top:220px;
	padding:5px;
	border-style:solid;
	border-width:1px;
	border-color:#CCCCCC;
	background-color:#EEEEFF;
}
h4.textLable{
	float:left;
	clear:left;
	margin-right:15px;
}
h4.text{
	float:left;
	width:475px;
	word-wrap:break-word;
}
.gray{
	color:#909090;
}
h4.postedLable{
	float:left;
	clear:left;
	margin-right:15px;
}
h4.locationLable{
	float:left;
	clear:left;
	margin-bottom:10px;
	margin-right:15px;
}
.tags{
	float:left;
	clear:left;
}
input.tagInputField{
	margin-top:4px;
	margin-right:15px;
	clear:left;
	float:left;
	width:102px;
	margin-bottom:
}
div.hidden{
	display:none!important;
}
.commitButton{
	margin-left:0px;
	margin-right:15px;
}
.fillParent{
	width:100%;
}
.proseven{
	width:70%;
	word-wrap:break-word;
}
.prothree{
	width:30%;
}
td{
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
}
caption{
	font-size:120%;
	padding-top:10px;
	padding-bottom:10px;
}
.discardButton{
	margin-right:20px;
}
.tagItem{
	float:left;
	margin-right:20px;
}
.marginBot{
	margin-bottom:50px;
}
.floatLeft{
	float:left;
}
tr:nth-child(even) {background: #F0F0F0;}
tr:nth-child(odd) {background: #FFFFFF;}
tr.messageItem:hover{background:#BBCCFF;}
tr.selected{background:#99CC99!important;}
tr.messageItem{overflow:hidden;}
